:root {
    --white: #FFFFFF;
    --light-gray: #F2F2F2;
    --medium-gray: #E5E5E5;
    --dark-gray: #333333;
    --black: #000000;
    --accent: #ffa07a;
    height: 100vh;
    display: grid;
    grid-template-rows: 1fr 20fr;
    margin: 0px;
}